<% include ./partials/header2.ejs %> 


      <div class="slider">
            <div class="carousel-fixed-item center">
                  <h3>Add content</h3>
            </div>
            <ul class="slides">
                  <li>
                        <img src="https://lorempixel.com/580/250/nature/1">
                  </li>
                  <li>
                        <img src="https://lorempixel.com/580/250/nature/2">
                  </li>
                  <li>
                        <img src="https://lorempixel.com/580/250/nature/3">
                  </li>
                  <li>
                        <img src="https://lorempixel.com/580/250/nature/4">
                  </li>
            </ul>
      </div>

      <div class="macs container">
            <div class="row">
                  <div class="col l4 m4 s12">
                        <img src="./img/logo.png" alt="" class=" responsive-img macs-logo">
                  </div>
                  <div class="col l8 m8 s12">
                        <p class="macs-text">
                              "Mathematics is to Computer Science what notes are to music. Go down deep enough into anything and you will find mathematics
                              ." MACS (Mathematics and Computing Society), the student body of the Applied Mathematics Department
                              of DTU was established in 2013 and since then it aims to provide a platform to its students
                              to showcase, sharpen and hone their talents through various technical and non technical competitions.
                              Also the society focuses upon learning through workshops, SIGs, seminars, guest lectures and
                              various symposiums.
                        </p>
                  </div>
                  <div class="col l8 m8 s12">
                        <p class="tech-fest-text">
                              About our annual tech fest: Asymptotes is the three-day annual tech fest organized by MACS in an attempt to help students
                              showcase their immense technical and non technical skills in the fields of Computer Science, Finance, Marketing
                              and Management. Around 25,000 students from colleges all over India attend the Annual Tech Fest of DTU
                              held in the month of February. Asymptotes’17 received a tremendous response from thousands who attended
                              it last year. We will be carrying forward our flagship events from past years and will be adding some new
                              events in our list this year.
                        </p>
                  </div>
            </div>
      </div>


      <footer class="page-footer transparent">
            <div class="container">
                  <div class=" center-align fa-2x ">
                        <a href="#" class="twitter">
                              <i class="fa fa-twitter fa-fw  "></i>
                        </a>
                        <a href="https://www.facebook.com/DTU.MACS/" class="facebook">
                              <i class="fa fa-facebook-official fa-fw"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UCfwkE4OIUreOaRBLhUrcsBQ" class="google">
                              <i class="fa fa-youtube fa-fw"></i>
                        </a>
                  </div>
            </div>
            <div class="footer-copyright">
                  <div class="container center-align">
                        © 2018 MACS DTU
                  </div>
            </div>
      </footer>

      <% include ./partials/footer.ejs %>