<% include ./partials/header2.ejs %>

      <div>
            <img class="responsive-img" src="./img/asymp.jpg" alt="" srcset="">
      </div>

      <div class="container">

            <blockquote class="center-align">
                  <h4>We proudly present to you - Asymptotes</h4>
                  <h5>"Because all work and no play makes Jack a dull boy."</h5>
            </blockquote>

            <div class="divider"></div>

            <section class="style">

                  <p class="flow-text center-align">
                        ASYMPTOTES is the yearly fest organized by Mathematics & Computing Society DTU as an attempt to help students showcase their
                        immense technical and informal skills - mathematical, analytical and computational.
                  </p>

                  <!-- <p class="flow-text center-align">
               ASYMPTOTES incorporates within itself a plentitude of technical events like programming contests, website designing, and
               quizzes. It also has an ever widening array of technical and informal events such as Sudoku, Anti
               - Chess and LAN - Gaming. Bringing a respite from the hard curriculum of engineering, fests have
               always been a very integral part of college life. Fests offer vast technical opportunities alongside
               being a medium for students to bond together socially. ASYMPTOTES is a platform for colleges from
               all across the country to showcase their talents. Core mathematics, applied mathematics, computer
               science, finance are all a part of the 3 day extravaganza.
         </p> -->

            </section>

      </div>

      <div class="sponsors container">

            <h3 class="center-align">
                  Our Sponsors
            </h3>

            <div class="divider"></div>

            <section class="sponsor-imgs">
                  <h5>imgs go here</h5>
            </section>

      </div>

      <footer class="page-footer transparent">
            <div class="container">
                  <div class=" center-align fa-2x ">
                        <a href="#" class="twitter">
                              <i class="fa fa-twitter fa-fw  "></i>
                        </a>
                        <a href="https://www.facebook.com/DTU.MACS/" class="facebook">
                              <i class="fa fa-facebook-official fa-fw"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UCfwkE4OIUreOaRBLhUrcsBQ" class="google">
                              <i class="fa fa-youtube fa-fw"></i>
                        </a>
                  </div>
            </div>
            <div class="footer-copyright">
                  <div class="container center-align">
                        © 2018 MACS DTU
                  </div>
            </div>
      </footer>

      <% include ./partials/footer.ejs %>