<html>

<head>
   <!--Import Google Icon Font-->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <!--Import materialize.css-->
   <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
   <link type="text/css" rel="stylesheet" href="css/style2.css">
   <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600" rel="stylesheet">


   <!--Let browser know website is optimized for mobile-->
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

   <div id="particles-js"></div>

   <div class="my-class">

      <div class=" navbar-fixed">
         <nav class="sidenav-trigger transparent z-depth-1" id="my-nav">
            <div class="nav-wrapper container">
               <a href="/home" class="brand-logo">
                  <img class="logo-header" src="./img/logo.png" alt="">
                  <span class="logo-text black-text">MACS</span>
               </a>
               <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                  <i class="material-icons black-text">menu</i>
               </a>
               <ul class="right hide-on-med-and-down">
                  <li>
                     <a href="/asymptotes" class=" black-text">Asymptotes</a>
                  </li>
                  <li>
                     <a href="/events" class=" black-text">Events</a>
                  </li>
                  <li>
                     <a href="/team" class="black-text">Team</a>
                  </li>
                  <li>
                     <a href="/about" class=" black-text">About Us</a>
                  </li>
                  <li>
                     <a href="/contact" class=" black-text">Contact Us</a>
                  </li>
               </ul>
               <ul class="sidenav light-blue accent-1" id="mobile-demo">
                  <li>
                     <a href="/about">About Us</a>
                  </li>
                  <li>
                     <a href="/asymptotes">Asymptotes</a>
                  </li>
                  <li>
                     <a href="/gallery">Gallery</a>
                  </li>
                  <li>
                     <a href="/contact">Contact Us</a>
                  </li>
               </ul>
            </div>
         </nav>
      </div>

      <section>
         <h1 class="center-align">Events</h1>
      </section>

      <div class="container">
         <div class="section">

            <div class="row">
               <div class="col s12 m4">
                  <div class="card">
                     <div class="card-image waves-effect waves-block waves-light">
                        <img class="modal-trigger" href="#modal1" src="img/office.jpg">

                     </div>
                     <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">
                           Event Name
                           <!-- Modal Trigger -->
                           <a class="waves-effect waves-light btn modal-trigger" href="#modal1">More Info</a>

                           <!-- Modal Structure -->
                           <div id="modal1" class="modal">
                              <div class="modal-content">
                                 <h4>Modal Header</h4>
                                 <p>A bunch of text</p>
                              </div>
                              <div class="modal-footer">
                                 <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                              </div>
                           </div>
                        </span>
                     </div>
                  </div>
               </div>

               <div class="row">
                  <div class="col s12 m4">
                     <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                           <img class="modal-trigger" href="#modal1" src="img/office.jpg">

                        </div>
                        <div class="card-content">
                           <span class="card-title activator grey-text text-darken-4">
                              Event Name
                              <!-- Modal Trigger -->
                              <a class="waves-effect waves-light btn modal-trigger" href="#modal1">More Info</a>

                              <!-- Modal Structure -->
                              <div id="modal1" class="modal">
                                 <div class="modal-content">
                                    <h4>Modal Header</h4>
                                    <p>A bunch of text</p>
                                 </div>
                                 <div class="modal-footer">
                                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                                 </div>
                              </div>
                           </span>
                        </div>
                     </div>
                  </div>

                  <div class="row">
                     <div class="col s12 m4">
                        <div class="card">
                           <div class="card-image waves-effect waves-block waves-light">
                              <img class="modal-trigger" href="#modal1" src="img/office.jpg">

                           </div>
                           <div class="card-content">
                              <span class="card-title activator grey-text text-darken-4">
                                 Event Name
                                 <!-- Modal Trigger -->
                                 <a class="waves-effect waves-light btn modal-trigger" href="#modal1">More Info</a>

                                 <!-- Modal Structure -->
                                 <div id="modal1" class="modal">
                                    <div class="modal-content">
                                       <h4>Modal Header</h4>
                                       <p>A bunch of text</p>
                                    </div>
                                    <div class="modal-footer">
                                       <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                                    </div>
                                 </div>
                              </span>
                           </div>
                        </div>
                     </div>




                  </div>
               </div>
            </div>


            <footer class="page-footer transparent">
               <div class="container">
                  <div class=" center-align fa-2x ">
                     <a href="#" class="twitter">
                        <i class="fa fa-twitter fa-fw  "></i>
                     </a>
                     <a href="https://www.facebook.com/DTU.MACS/" class="facebook">
                        <i class="fa fa-facebook-official fa-fw"></i>
                     </a>
                     <a href="https://www.youtube.com/channel/UCfwkE4OIUreOaRBLhUrcsBQ" class="google">
                        <i class="fa fa-youtube fa-fw"></i>
                     </a>
                  </div>
               </div>
               <div class="footer-copyright">
                  <div class="container center-align">
                     © 2018 MACS DTU
                  </div>
               </div>
            </footer>
         </div>

         <!--Import jQuery before materialize.js-->
         <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
         <script type="text/javascript" src="js/materialize.min.js"></script>
         <script src="js/main.js"></script>
         <script src="js/particles.min.js"></script>
         <script type="text/javascript">
            particlesJS("particles-js", {
               "particles": {
                  "number": {
                     "value": 400,
                     "density": {
                        "enable": true,
                        "value_area": 800
                     }
                  },
                  "color": {
                     "value": "#fff"
                  },
                  "shape": {
                     "type": "circle",
                     "stroke": {
                        "width": 0,
                        "color": "#000000"
                     },
                     "polygon": {
                        "nb_sides": 5
                     },
                     "image": {
                        "src": "img/github.svg",
                        "width": 100,
                        "height": 100
                     }
                  },
                  "opacity": {
                     "value": 0.5,
                     "random": true,
                     "anim": {
                        "enable": false,
                        "speed": 1,
                        "opacity_min": 0.1,
                        "sync": false
                     }
                  },
                  "size": {
                     "value": 10,
                     "random": true,
                     "anim": {
                        "enable": false,
                        "speed": 40,
                        "size_min": 0.1,
                        "sync": false
                     }
                  },
                  "line_linked": {
                     "enable": false,
                     "distance": 500,
                     "color": "#ffffff",
                     "opacity": 0.4,
                     "width": 2
                  },
                  "move": {
                     "enable": true,
                     "speed": 6,
                     "direction": "bottom",
                     "random": false,
                     "straight": false,
                     "out_mode": "out",
                     "bounce": false,
                     "attract": {
                        "enable": false,
                        "rotateX": 600,
                        "rotateY": 1200
                     }
                  }
               },
               "interactivity": {
                  "detect_on": "canvas",
                  "events": {
                     "onhover": {
                        "enable": true,
                        "mode": "bubble"
                     },
                     "onclick": {
                        "enable": true,
                        "mode": "repulse"
                     },
                     "resize": true
                  },
                  "modes": {
                     "grab": {
                        "distance": 400,
                        "line_linked": {
                           "opacity": 0.5
                        }
                     },
                     "bubble": {
                        "distance": 400,
                        "size": 4,
                        "duration": 0.3,
                        "opacity": 1,
                        "speed": 3
                     },
                     "repulse": {
                        "distance": 200,
                        "duration": 0.4
                     },
                     "push": {
                        "particles_nb": 4
                     },
                     "remove": {
                        "particles_nb": 2
                     }
                  }
               },
               "retina_detect": true
            });
         </script>
</body>

</html>