<html>

<head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
      <link type="text/css" rel="stylesheet" href="css/style2.css">
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600" rel="stylesheet">


      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

      <div id="particles-js"></div>

      <div class="my-class">

            <div class=" navbar-fixed">
                  <nav class="sidenav-trigger transparent z-depth-0" id="my-nav">
                        <div class="nav-wrapper container">
                              <a href="/home" class="brand-logo">
                                    <img class="logo-header" src="./img/logo.png" alt="">
                                    <span class="logo-text black-text">MACS</span>
                              </a>
                              <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                                    <i class="material-icons black-text">menu</i>
                              </a>
                              <ul class="right hide-on-med-and-down">
                                    <li>
                                          <a href="/asymptotes" class=" black-text">Invictus</a>
                                    </li>
                                    <li>
                                          <a href="/events" class=" black-text">Events</a>
                                    </li>
                                    <li>
                                          <a href="/team" class="black-text">Team</a>
                                    </li>
                                    <li>
                                          <a href="/about" class=" black-text">About Us</a>
                                    </li>
                                    <li>
                                          <a href="/gallery" class=" black-text">Gallery</a>
                                    </li>
                                    <li>
                                          <a href="/contact" class=" black-text">Contact Us</a>
                                    </li>
                              </ul>
                        </div>
                  </nav>
            </div>

            <ul class="sidenav" id="mobile-demo">
                  <li>
                        <a href="/asymptotes">
                              <i class="material-icons">info_outline</i>Invictus</a>
                  </li>
                  <li>
                        <a href="/about">
                              <i class="material-icons">info_outline</i>About Us</a>
                  </li>
                  <li>
                        <a href="/team">
                              <i class="material-icons">group</i> Team</a>
                  </li>
                  <li>
                        <a href="/events">
                              <i class="material-icons">event</i> Events</a>
                  </li>
                  <li>
                        <a href="/gallery">
                              <i class="material-icons">image</i>Gallery</a>
                  </li>
                  <li>
                        <a href="/contact">
                              <i class="material-icons">contacts</i>Contact Us</a>
                  </li>
            </ul>

            <section>
                  <h1 class="center-align">Events</h1>
            </section>

            <div class="container">
                  <div class="section">

                        <div class="row">
                              <div class="col s12 m6 l4">
                                    <div class="card">
                                          <div class="card-image waves-effect waves-block waves-light">
                                                <img class="modal-trigger" href="#modal1" src="img/events/WSJ.png">

                                          </div>
                                          <div class="card-content">
                                                <span class="card-title activator grey-text text-darken-4">
                                                      WALL STREET JOURNAL
                                                      <!-- Modal Trigger -->
                                                      <a class="waves-effect waves-light btn-floating modal-trigger" href="#modal1">
                                                            <i class="fa fa-fw fa-info"></i>
                                                      </a>

                                                      <!-- Modal Structure -->
                                                      <div id="modal1" class="modal">
                                                            <div class="modal-content">
                                                                  <h4>WALL STREET JOURNAL</h4>
                                                                  <p>
                                                                        "If you don’t find a way to make money while you sleep, you will work until you die” - Warren Buffett.
                                                                  </p>
                                                                  <p>
                                                                        Who can better relate to this quote other than us, the millennials? Often tagged as ‘lazy’ and ‘impatient’ most of us have
                                                                        found our role model in Mr Buffett and are seeking
                                                                        to make a career in the financial world. If you are
                                                                        one of them, then this event is for you to show your
                                                                        prowess.
                                                                  </p>
                                                                  <p>
                                                                        Unleash the Wolf of The Wall Street as MACS, DTU is up with WALL STREET JOURNAL. Put your money at work for you. Predict
                                                                        the market, climb up with best Investment Strategies,
                                                                        play the Big Game, take the risk and be the millionaire.
                                                                  </p>
                                                                  <p>
                                                                        <h5>Topics Covered:</h5>
                                                                        Finance, business, the stock market and of course some Mathematical aptitude.
                                                                  </p>
                                                                  <p>
                                                                        <h5>Rounds: </h5>
                                                                        Prelims and Finals
                                                                  </p>
                                                                  <p>
                                                                        <h5>General Rules:</h5>
                                                                        <ol>
                                                                              <li>The Organiser’s decision shall be final and
                                                                                    binding.
                                                                              </li>
                                                                              <li>Each team shall have two members.</li>
                                                                              <li>The organising team will discuss the rules
                                                                                    in detail before conducting every round.</li>
                                                                              <li>The organising team reserves the right to change
                                                                                    or modify the rules in case the need
                                                                                    be.
                                                                              </li>
                                                                        </ol>
                                                                  </p>
                                                                  <p>
                                                                        <h5>Prelims:</h5>
                                                                        <ol>
                                                                              <li>It will be a pen-paper based 10 minute general
                                                                                    aptitude round to test,in particular
                                                                                    stock market knowledge .</li>
                                                                              <li>Top teams with highest scores will enter the
                                                                                    finals.
                                                                              </li>
                                                                        </ol>
                                                                  </p>
                                                                  <p>
                                                                        <h5>Finals</h5>
                                                                        <ol>
                                                                              <li>All the teams shortlisted from the prelim will
                                                                                    enter the finale.</li>
                                                                              <li>The finale will contain 5 rounds each of 10
                                                                                    minutes.
                                                                              </li>
                                                                              <li> Each team will be given 10k virtual cash for
                                                                                    investing in companies.</li>
                                                                              <li> Teams will be given news feed and the prices
                                                                                    per share of the companies at the start
                                                                                    of each round.</li>
                                                                              <li>The teams can buy, sell, or short sell according
                                                                                    to their strategies.</li>
                                                                              <li>There is no limit to the number of shares that
                                                                                    can be short sold. And it is mandatory
                                                                                    to buy the short sold shares in the next
                                                                                    round otherwise the team would be disqualified.</li>
                                                                              <li>A team can't short sell in the last round.</li>
                                                                              <li>There won't be any brokerage charged in buying
                                                                                    or selling of shares.</li>
                                                                              <li>If at any stage, the team has a negative total
                                                                                    amount ( even after selling all the shares),
                                                                                    the team will be disqualified.</li>
                                                                              <li>The team with the maximum total amount (after
                                                                                    selling all the shares) will be declared
                                                                                    as the winner.</li>
                                                                        </ol>
                                                                  </p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                  <a href="#" class="modal-action modal-close waves-effect waves-green btn">Register</a>
                                                            </div>
                                                      </div>
                                                </span>
                                          </div>
                                    </div>
                              </div>


                              <div class="col s12 m6 l4">
                                    <div class="card">
                                          <div class="card-image waves-effect waves-block waves-light">
                                                <img class="modal-trigger" href="#modal2" src="img/events/fakeoff.png">

                                          </div>
                                          <div class="card-content">
                                                <span class="card-title activator grey-text text-darken-4">
                                                      Fake Off
                                                      <!-- Modal Trigger -->
                                                      <a class="waves-effect waves-light btn-floating modal-trigger" href="#modal2">
                                                            <i class="fa fa-fw fa-info"></i>
                                                      </a>

                                                      <!-- Modal Structure -->
                                                      <div id="modal2" class="modal">
                                                            <div class="modal-content">
                                                                  <h4>Fake Off</h4>
                                                                  <p>Do you have what it takes to contrive fictitious yet coherent
                                                                        details to prove the hypothetical scenarios? Can
                                                                        you lie your way out of a notorious situation to
                                                                        reach the heights? Do you have the confidence to
                                                                        forge details so easily that even Sherlock Holmes
                                                                        can't suspect them? If yes, then 'Fake Off' is the
                                                                        place for you to prove your skills! </p>
                                                                  <p>
                                                                        <h5>Problem Statement :</h5>
                                                                        Select anyone of the given hypothetical topics and write us down a report claiming it to be true.
                                                                  </p>
                                                                  <p>Select any topic from the following and Fake it Off -</p>
                                                                  <p>
                                                                        <h5>Topics:</h5>
                                                                        <ol>
                                                                              <li>Sasural Simar ka is based on GOT.</li>
                                                                              <li>Dhinchak Pooja is a better singer than Arijit
                                                                                    Singh.
                                                                              </li>
                                                                              <li>Pi is rational.</li>
                                                                              <li>Big boss is a reality show.</li>
                                                                              <li>“Tiger zinda he” is a Hollywood level movie.</li>
                                                                              <li>Hostel life is boring.</li>
                                                                              <li>Right spelling of 'sarkar' is 'gormint' not
                                                                                    'government'.
                                                                              </li>
                                                                              <li>Coc-ers are real gamers. </li>
                                                                              <li>Delhi is a pollution-free city.</li>
                                                                              <li>Indian politicians are corruption free.</li>
                                                                              <li>50 shades of Grey is a Family movie.</li>
                                                                              <li>Vijay Mallya is a billionaire.</li>
                                                                              <li>2G scam is the best verdict by Indian court.</li>
                                                                              <li>Bol na aunty aau kya is the national anthem
                                                                                    of India.</li>
                                                                              <li>Hostel mess food is better than hotel taj's
                                                                                    food. </li>
                                                                              <li>The ratio of boys to girls in IITs is 1:10.</li>
                                                                              <li>VIVO and OPPO are indian company. </li>
                                                                              <li>Red MI Note 4 is better than iPhone X. </li>
                                                                              <li>Plastic is full of nutrients.</li>
                                                                              <li>Nokia 220 has a better camera than DSLR. </li>
                                                                              <li>iPhones are more durable than Nokia.</li>
                                                                              <li>Kamlesh is our golden ticket for Olympics.</li>
                                                                              <li>Dr. Manmohan Singh is extremely talkative.</li>
                                                                        </ol>
                                                                  </p>
                                                                  <p>
                                                                        <ul class="browser-default">
                                                                              <li>Mail your entry in the form of a report to
                                                                                    dtu.macs@gmail.com. The subject of the
                                                                                    e-mail should be of the format: (Fake
                                                                                    Off entry) (topic)</li>
                                                                              <li>Participants can go solo or form group not
                                                                                    exceeding 4 members.</li>
                                                                              <li>Entries shall be accepted in PDF format only.
                                                                                    Images are allowed in the report.</li>
                                                                              <li>No word limit The report must contain a bibliography
                                                                                    section to cite sources.</li>
                                                                              <li>Mention your Name(s) and Contact info in the
                                                                                    report as well as the email.</li>
                                                                              <li>The deadline for the submission of entries
                                                                                    is - 9th Feb 2017 11:59 pm</li>
                                                                              <li>The selected teams will qualify for the final
                                                                                    round, where each team shall be given
                                                                                    5 minutes to give a presentation on either
                                                                                    the same topic or any other topic among
                                                                                    the ones listed above. The presentation
                                                                                    can include relevant videos.</li>
                                                                              <li>Cross questions by other team members and the
                                                                                    judges are allowed after the completion
                                                                                    of the presentation.</li>
                                                                              <li>The decision of the judges will be final and
                                                                                    binding.
                                                                              </li>
                                                                        </ul>
                                                                  </p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                  <a href="#!" class="modal-action modal-close waves-effect waves-green btn">Register</a>
                                                            </div>
                                                      </div>
                                                </span>
                                          </div>
                                    </div>
                              </div>


                              <div class="col s12 m6 l4">
                                    <div class="card">
                                          <div class="card-image waves-effect waves-block waves-light">
                                                <img class="modal-trigger" href="#modal3" src="img/events/MacsQuiz.jpg">

                                          </div>
                                          <div class="card-content">
                                                <span class="card-title activator grey-text text-darken-4">
                                                      MACS Quiz
                                                      <!-- Modal Trigger -->
                                                      <a class="waves-effect waves-light btn-floating modal-trigger" href="#modal3">
                                                            <i class="fa fa-fw fa-info"></i>
                                                      </a>

                                                      <!-- Modal Structure -->
                                                      <div id="modal3" class="modal">
                                                            <div class="modal-content">
                                                                  <h4>MACS Quiz</h4>
                                                                  <p>It’s time to capitalize the knowledge your curious mind
                                                                        has been aggregating for a while. A passion for quizzing
                                                                        combined with the acumen you have assembled from
                                                                        the national dailies, Quora, Wikipedia or any of
                                                                        your favourite source is all you need in this game
                                                                        of intellect.
                                                                  </p>
                                                                  <br>
                                                                  <p>
                                                                        EXCITING PRICES UP FOR GRABS!!
                                                                  </p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                  <a href="#!" class="modal-action modal-close waves-effect waves-green btn">Register</a>
                                                            </div>
                                                      </div>
                                                </span>
                                          </div>
                                    </div>
                              </div>

                              <div class="col s12 m6 l4">
                                    <div class="card">
                                          <div class="card-image waves-effect waves-block waves-light">
                                                <img class="modal-trigger" href="#modal4" src="img/events/PawnStars.jpg">

                                          </div>
                                          <div class="card-content">
                                                <span class="card-title activator grey-text text-darken-4">
                                                      Pawn Stars
                                                      <!-- Modal Trigger -->
                                                      <a class="waves-effect waves-light btn-floating modal-trigger" href="#modal4">
                                                            <i class="fa fa-fw fa-info"></i>
                                                      </a>

                                                      <!-- Modal Structure -->
                                                      <div id="modal4" class="modal">
                                                            <div class="modal-content">
                                                                  <h4>Pawn Stars</h4>
                                                                  <p>A bunch of text</p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                  <a href="#!" class="modal-action modal-close waves-effect waves-green btn">Register</a>
                                                            </div>
                                                      </div>
                                                </span>
                                          </div>
                                    </div>
                              </div>

                              <div class="col s12 m6 l4">
                                    <div class="card">
                                          <div class="card-image waves-effect waves-block waves-light">
                                                <img class="modal-trigger" href="#modal5" src="img/events/RelayMaths.jpg">

                                          </div>
                                          <div class="card-content">
                                                <span class="card-title activator grey-text text-darken-4">
                                                      Relay Maths
                                                      <!-- Modal Trigger -->
                                                      <a class="waves-effect waves-light btn-floating modal-trigger" href="#modal5">
                                                            <i class="fa fa-fw fa-info"></i>
                                                      </a>

                                                      <!-- Modal Structure -->
                                                      <div id="modal5" class="modal">
                                                            <div class="modal-content">
                                                                  <h4>Relay Maths</h4>
                                                                  <p>In such a fast paced world, everyone is expected to run
                                                                        and compete. MACS DTU in association with INVICTUS'18
                                                                        brings you one of its most loved events, back again.
                                                                        Relay Maths (who doesn’t love relay races, right?).
                                                                        An event which will test you on your aptitude skills,
                                                                        time management strategies, work ethics and most
                                                                        importantly your team spirit. Are you ready to be
                                                                        enthralled and fall in love with Maths again?
                                                                  </p>
                                                                  <p>
                                                                        <h5>TOPICS COVERED - </h5>
                                                                        MAT (Mental Ability Test) questions involving logical puzzles and mathematical riddles
                                                                  </p>
                                                                  <p>
                                                                        <h5>ROUNDS -</h5>
                                                                        Prelims and Finals
                                                                  </p>
                                                                  <p>
                                                                        <h5>GENERAL RULES -</h5>
                                                                        <ol>
                                                                              <li>This will be a team event. Each team may consist
                                                                                    of maximum 3 members.</li>
                                                                              <li>The marking scheme and the the rules would
                                                                                    also be explained on the spot before
                                                                                    conducting the rounds too.</li>
                                                                              <li>The Judges’ decision shall be final and binding.</li>
                                                                        </ol>
                                                                  </p>
                                                                  <p>
                                                                        <h5>PRELIMS RULES -</h5>
                                                                        <ol>
                                                                              <li>This would be a paper - pen round.</li>
                                                                              <li>This round would consist of 30 aptitude based
                                                                                    MCQ questions for which the teams shall
                                                                                    be given a maximum of 30 minutes.</li>
                                                                              <li>The top 6 teams in the prelims would proceed
                                                                                    to the final round.</li>
                                                                        </ol>
                                                                  </p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                  <a href="#!" class="modal-action modal-close waves-effect waves-green btn">Register</a>
                                                            </div>
                                                      </div>
                                                </span>
                                          </div>
                                    </div>
                              </div>

                              <div class="col s12 m6 l4">
                                    <div class="card">
                                          <div class="card-image waves-effect waves-block waves-light">
                                                <img class="modal-trigger" href="#modal6" src="img/events/VedicMaths.png">

                                          </div>
                                          <div class="card-content">
                                                <span class="card-title activator grey-text text-darken-4">
                                                      Vedic Maths
                                                      <!-- Modal Trigger -->
                                                      <a class="waves-effect waves-light btn-floating modal-trigger" href="#modal6">
                                                            <i class="fa fa-fw fa-info"></i>
                                                      </a>

                                                      <!-- Modal Structure -->
                                                      <div id="modal6" class="modal">
                                                            <div class="modal-content">
                                                                  <h4>Vedic Maths</h4>
                                                                  <p>Vedic mathematics is said by its founder to be a gift given
                                                                        to this world by the ancient sages of India. It is
                                                                        much more than a magical method of fast calculation.
                                                                        While mastery of its simple sutras - and a little
                                                                        practice - undoubtedly enables one to perform mental
                                                                        computations with lightening speed.
                                                                  </p>
                                                                  <p>
                                                                        MACS DTU in association with INVICTUS'18 presents Vedic Maths quiz.
                                                                  </p>
                                                                  <p>
                                                                        Be ready to hone your skills!
                                                                  </p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                  <a href="#!" class="modal-action modal-close waves-effect waves-green btn">Register</a>
                                                            </div>
                                                      </div>
                                                </span>
                                          </div>
                                    </div>
                              </div>

                              <div class="col s12 m6 l4">
                                    <div class="card">
                                          <div class="card-image waves-effect waves-block waves-light">
                                                <img class="modal-trigger" href="#modal7" src="img/events/WOMP.png">

                                          </div>
                                          <div class="card-content">
                                                <span class="card-title activator grey-text text-darken-4">
                                                      Wizards of Market Place
                                                      <!-- Modal Trigger -->
                                                      <a class="waves-effect waves-light btn-floating modal-trigger" href="#modal7">
                                                            <i class="fa fa-fw fa-info"></i>
                                                      </a>

                                                      <!-- Modal Structure -->
                                                      <div id="modal7" class="modal">
                                                            <div class="modal-content">
                                                                  <h4>Wizards of Market Place</h4>
                                                                  <p>This event tests your ability to make a foolproof marketing
                                                                        plan. It is a battle to create a marketing strategy
                                                                        that will revolutionize the monotony of the Marketplace.
                                                                        Only the best-laid plans can survive the marketplace.
                                                                  </p>
                                                                  <p>
                                                                        <h5>Details:</h5>
                                                                        <ul>
                                                                              <li>Round 1 – The first round tests the teams on
                                                                                    their basic knowledge about markets.
                                                                                    The quiz will be an MCQ based test and
                                                                                    top 8 teams advance to the next round.</li>
                                                                              <li>Round 2 – The shortlisted teams will be challenged
                                                                                    to devise a perfect strategy for the
                                                                                    marketing of a product and will test
                                                                                    their ability to understand the problem
                                                                                    and deliver effective and implementable
                                                                                    solutions. The entries will be judged
                                                                                    by reputed faculty from Jaipuria Marketing
                                                                                    School and DTU chosen by team MACS and
                                                                                    their decision shall stand to bind.</li>
                                                                        </ul>
                                                                  </p>
                                                                  <p>
                                                                        There can be a maximum of 3 people per team.
                                                                  </p>
                                                                  <p>
                                                                        <ul>
                                                                              <li>Date:</li>
                                                                              <li>Venue:</li>
                                                                        </ul>
                                                                  </p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                  <a href="#!" class="modal-action modal-close waves-effect waves-green btn">Register</a>
                                                            </div>
                                                      </div>
                                                </span>
                                          </div>
                                    </div>
                              </div>

                              <div class="col s12 m6 l4">
                                    <div class="card">
                                          <div class="card-image waves-effect waves-block waves-light">
                                                <img class="modal-trigger" href="#modal8" src="img/events/Codethon.jpg">

                                          </div>
                                          <div class="card-content">
                                                <span class="card-title activator grey-text text-darken-4">
                                                      Codethon
                                                      <!-- Modal Trigger -->
                                                      <a class="waves-effect waves-light btn-floating modal-trigger" href="#modal8">
                                                            <i class="fa fa-fw fa-info"></i>
                                                      </a>

                                                      <!-- Modal Structure -->
                                                      <div id="modal8" class="modal">
                                                            <div class="modal-content">
                                                                  <h4>Codethon</h4>
                                                                  <p>The search for integral contrivance of perplexing codes
                                                                        is finally over as MACS-DTU in association with INVICTUS'18
                                                                        presents Codethon,a platform for all competitive
                                                                        coding cognoscente that shall offer competitive programming
                                                                        problems in an even more competitive purlieu.
                                                                  </p>
                                                                  <p>
                                                                        So prepare to astound your wit for the next Coding War.
                                                                        <br>Display your aptness for coding and,
                                                                        <br> Let the game begin!
                                                                  </p>
                                                                  <p>
                                                                        <ul class="browser-default">
                                                                              <li>Date:12th February</li>
                                                                              <li>Venue: Computational lab 2</li>
                                                                        </ul>
                                                                  </p>
                                                                  <p>
                                                                        Be there or be square!
                                                                  </p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                  <a href="#!" class="modal-action modal-close waves-effect waves-green btn">Register</a>
                                                            </div>
                                                      </div>
                                                </span>
                                          </div>
                                    </div>
                              </div>




                        </div>
                  </div>
            </div>


            <footer class="page-footer transparent">
                  <div class="container">
                        <div class=" center-align fa-2x ">
                              <a href="#" class="twitter">
                                    <i class="fa fa-twitter fa-fw  "></i>
                              </a>
                              <a href="https://www.facebook.com/DTU.MACS/" class="facebook">
                                    <i class="fa fa-facebook-official fa-fw"></i>
                              </a>
                              <a href="https://www.youtube.com/channel/UCfwkE4OIUreOaRBLhUrcsBQ" class="google">
                                    <i class="fa fa-youtube fa-fw"></i>
                              </a>
                        </div>
                  </div>
                  <div class="footer-copyright">
                        <div class="container center-align">
                              © 2018 MACS DTU
                        </div>
                  </div>
            </footer>
      </div>

      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script src="js/main.js"></script>
      <script src="js/particles.min.js"></script>
      <script type="text/javascript">
            particlesJS("particles-js", {
                  "particles": {
                        "number": {
                              "value": 6,
                              "density": {
                                    "enable": true,
                                    "value_area": 800
                              }
                        },
                        "color": {
                              "value": "#1b1e34"
                        },
                        "shape": {
                              "type": "polygon",
                              "stroke": {
                                    "width": 0,
                                    "color": "#000"
                              },
                              "polygon": {
                                    "nb_sides": 6
                              },
                              "image": {
                                    "src": "img/github.svg",
                                    "width": 100,
                                    "height": 100
                              }
                        },
                        "opacity": {
                              "value": 0.3,
                              "random": true,
                              "anim": {
                                    "enable": false,
                                    "speed": 1,
                                    "opacity_min": 0.1,
                                    "sync": false
                              }
                        },
                        "size": {
                              "value": 160,
                              "random": false,
                              "anim": {
                                    "enable": true,
                                    "speed": 10,
                                    "size_min": 40,
                                    "sync": false
                              }
                        },
                        "line_linked": {
                              "enable": false,
                              "distance": 200,
                              "color": "#ffffff",
                              "opacity": 1,
                              "width": 2
                        },
                        "move": {
                              "enable": true,
                              "speed": 8,
                              "direction": "none",
                              "random": false,
                              "straight": false,
                              "out_mode": "out",
                              "bounce": false,
                              "attract": {
                                    "enable": false,
                                    "rotateX": 600,
                                    "rotateY": 1200
                              }
                        }
                  },
                  "interactivity": {
                        "detect_on": "canvas",
                        "events": {
                              "onhover": {
                                    "enable": false,
                                    "mode": "grab"
                              },
                              "onclick": {
                                    "enable": false,
                                    "mode": "push"
                              },
                              "resize": true
                        },
                        "modes": {
                              "grab": {
                                    "distance": 400,
                                    "line_linked": {
                                          "opacity": 1
                                    }
                              },
                              "bubble": {
                                    "distance": 400,
                                    "size": 40,
                                    "duration": 2,
                                    "opacity": 8,
                                    "speed": 3
                              },
                              "repulse": {
                                    "distance": 200,
                                    "duration": 0.4
                              },
                              "push": {
                                    "particles_nb": 4
                              },
                              "remove": {
                                    "particles_nb": 2
                              }
                        }
                  },
                  "retina_detect": true
            });
      </script>
</body>

</html>