<!DOCTYPE html>
<html lang="en">

<head>

      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="./css/gallery.css">

      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Contact Us</title>
</head>

<body>
      <div class=" navbar-fixed">
            <nav class="sidenav-trigger white z-depth-1">
                  <div class="nav-wrapper container">
                        <a href="/home" class="brand-logo">
                              <img class="logo-header" src="./img/logo.png" alt="">
                              <span class="logo-text black-text">MACS</span>
                        </a>
                        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                              <i class="material-icons black-text">menu</i>
                        </a>
                        <ul class="right hide-on-med-and-down">
                              <li>
                                    <a href="/asymptotes" class=" black-text">Asymptotes</a>
                              </li>
                              <li>
                                    <a href="/events" class=" black-text">Events</a>
                              </li>
                              <li>
                                    <a href="/team" class="black-text">Team</a>
                              </li>
                              <li>
                                    <a href="/about" class=" black-text">About Us</a>
                              </li>
                              <li>
                                    <a href="/gallery" class=" black-text">Gallery</a>
                              </li>
                              <li>
                                    <a href="/contact" class=" black-text">Contact Us</a>
                              </li>
                        </ul>

                  </div>
            </nav>
      </div>

      <ul class="sidenav white" id="mobile-demo">
            <li>
                  <a href="/about">
                        <i class="material-icons">info_outline</i>About Us</a>
            </li>
            <li>
                  <a href="/team">
                        <i class="material-icons">group</i> Team</a>
            </li>
            <li>
                  <a href="/events">
                        <i class="material-icons">event</i> Events</a>
            </li>
            <li>
                  <a href="/gallery">
                        <i class="material-icons">image</i>Gallery</a>
            </li>
            <li>
                  <a href="/contact">
                        <i class="material-icons">contacts</i>Contact Us</a>
            </li>
      </ul>

      <div class="container gallery">
            <div class="row">
                  <div class="col s6 m4">
                        <div class="img-w">
                              <img src="https://images.unsplash.com/photo-1485766410122-1b403edb53db?dpr=1&auto=format&fit=crop&w=1500&h=846&q=80&cs=tinysrgb&crop="
                                    alt="" />
                        </div>
                  </div>
                  <div class="col s6 m4">
                        <div class="img-w">
                              <img src="https://images.unsplash.com/photo-1485793997698-baba81bf21ab?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop="
                                    alt="" />
                        </div>
                  </div>
                  <div class="col s6 m4">
                        <div class="img-w">
                              <img src="https://images.unsplash.com/photo-1485871800663-71856dc09ec4?dpr=1&auto=format&fit=crop&w=1500&h=2250&q=80&cs=tinysrgb&crop="
                                    alt="" />
                        </div>
                  </div>
                  <div class="col s6 m4">
                        <div class="img-w">
                              <img src="https://images.unsplash.com/photo-1485871882310-4ecdab8a6f94?dpr=1&auto=format&fit=crop&w=1500&h=2250&q=80&cs=tinysrgb&crop="
                                    alt="" />
                        </div>
                  </div>
                  <div class="col s6 m4">
                        <div class="img-w">
                              <img src="https://images.unsplash.com/photo-1485872304698-0537e003288d?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop="
                                    alt="" />
                        </div>
                  </div>
                  <div class="col s6 m4">
                        <div class="img-w">
                              <img src="https://images.unsplash.com/photo-1485872325464-50f17b82075a?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop="
                                    alt="" />
                        </div>
                  </div>
                  <div class="col s6 m4">
                        <div class="img-w">
                              <img src="https://images.unsplash.com/photo-1470171119584-533105644520?dpr=1&auto=format&fit=crop&w=1500&h=886&q=80&cs=tinysrgb&crop="
                                    alt="" />
                        </div>
                  </div>
                  <div class="col s6 m4">
                        <div class="img-w">
                              <img src="https://images.unsplash.com/photo-1485881787686-9314a2bc8f9b?dpr=1&auto=format&fit=crop&w=1500&h=969&q=80&cs=tinysrgb&crop="
                                    alt="" />
                        </div>
                  </div>
                  <div class="col s6 m4">
                        <div class="img-w">
                              <img src="https://images.unsplash.com/photo-1485889397316-8393dd065127?dpr=1&auto=format&fit=crop&w=1500&h=843&q=80&cs=tinysrgb&crop="
                                    alt="" />
                        </div>
                  </div>

            </div>







      </div>


      <footer class="page-footer transparent">
            <div class="container">
                  <div class=" center-align fa-2x ">
                        <a href="#" class="twitter">
                              <i class="fa fa-twitter fa-fw  "></i>
                        </a>
                        <a href="https://www.facebook.com/DTU.MACS/" class="facebook">
                              <i class="fa fa-facebook-official fa-fw"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UCfwkE4OIUreOaRBLhUrcsBQ" class="google">
                              <i class="fa fa-youtube fa-fw"></i>
                        </a>
                  </div>
            </div>
            <div class="footer-copyright">
                  <div class="container center-align">
                        © 2018 MACS DTU
                  </div>
            </div>
      </footer>

      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script src="js/main.js"></script>
</body>

</html>