<!DOCTYPE html>
<html lang="en">

<head>

      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="./css/gallery.css">
      <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"> -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">

      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Gallery</title>
      <link rel="icon" type="image/png" href="./img/flavicon.png" />
</head>

<body>
      <div class=" navbar-fixed">
            <nav class="sidenav-trigger white z-depth-1">
                  <div class="nav-wrapper container">
                        <a href="/home" class="brand-logo">
                              <img class="logo-header" src="./img/logo.png" alt="">
                              <span class="logo-text black-text">MACS</span>
                        </a>
                        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
                              <i class="material-icons black-text">menu</i>
                        </a>
                        <ul class="right hide-on-med-and-down">
                              <li>
                                    <a href="/asymptotes" class=" black-text">Invictus</a>
                              </li>
                              <li>
                                    <a href="/events" class=" black-text">Events</a>
                              </li>
                              <li>
                                    <a href="/team" class="black-text">Team</a>
                              </li>
                              <li>
                                    <a href="/about" class=" black-text">About Us</a>
                              </li>
                              <li>
                                    <a href="/gallery" class=" black-text">Gallery</a>
                              </li>
                              <li>
                                    <a href="/contact" class=" black-text">Contact Us</a>
                              </li>
                        </ul>

                  </div>
            </nav>
      </div>

      <ul class="sidenav" id="mobile-demo">
            <li>
                  <a href="/asymptotes">
                        <img class="logo-sidenav" src="./img/invi.png" alt="">
                        <span class="sidenav-text">Invictus</span>
                  </a>
            </li>
            <li>
                  <a href="/about">
                        <i class="material-icons">info_outline</i>About Us</a>
            </li>
            <li>
                  <a href="/team">
                        <i class="material-icons">group</i> Team</a>
            </li>
            <li>
                  <a href="/events">
                        <i class="material-icons">event</i> Events</a>
            </li>
            <li>
                  <a href="/gallery">
                        <i class="material-icons">image</i>Gallery</a>
            </li>
            <li>
                  <a href="/contact">
                        <i class="material-icons">contacts</i>Contact Us</a>
            </li>
      </ul>

      <div class="container">
            <h1 class="center-align">Gallery</h1>

            <div class="tz-gallery">

                  <div class="row">

                        <div class="col m4">
                              <div class="card-img">
                                    <a class="lightbox" href="/img/gallery/1.JPG">
                                          <img src="/img/gallery/1.JPG" alt="Park" class="card-img-top">
                                    </a>
                              </div>
                        </div>


                        <div class="col m4">
                              <div class="card-img">
                                    <a class="lightbox" href="/img/gallery/2.JPG">
                                          <img src="/img/gallery/2.JPG" alt="Park" class="card-img-top">
                                    </a>
                              </div>
                        </div>

                        <div class="col m4">
                              <div class="card-img">
                                    <a class="lightbox" href="/img/gallery/3.JPG">
                                          <img src="/img/gallery/3.JPG" alt="Park" class="card-img-top">
                                    </a>
                              </div>
                        </div>
                  </div>
                  <div class="row">
                        <div class="col m4">
                              <div class="card-img">
                                    <a class="lightbox" href="/img/gallery/4.JPG">
                                          <img src="/img/gallery/4.JPG" alt="Park" class="card-img-top">
                                    </a>
                              </div>
                        </div>

                        <div class="col m4">
                              <div class="card-img">
                                    <a class="lightbox" href="/img/gallery/5.JPG">
                                          <img src="/img/gallery/5.JPG" alt="Park" class="card-img-top">
                                    </a>
                              </div>
                        </div>

                        <div class="col m4">
                              <div class="card-img">
                                    <a class="lightbox" href="/img/gallery/6.JPG">
                                          <img src="/img/gallery/6.JPG" alt="Park" class="card-img-top">
                                    </a>
                              </div>
                        </div>

                        <div class="col m4">
                              <div class="card-img">
                                    <a class="lightbox" href="/img/gallery/7.JPG">
                                          <img src="/img/gallery/7.JPG" alt="Park" class="card-img-top">
                                    </a>
                              </div>
                        </div>

                        <div class="col m4">
                              <div class="card-img">
                                    <a class="lightbox" href="/img/gallery/8.JPG">
                                          <img src="/img/gallery/8.JPG" alt="Park" class="card-img-top">
                                    </a>
                              </div>
                        </div>

                        <div class="col m4">
                              <div class="card-img">
                                    <a class="lightbox" href="/img/gallery/9.JPG">
                                          <img src="/img/gallery/9.JPG" alt="Park" class="card-img-top">
                                    </a>
                              </div>
                        </div>

                        <div class="col m4">
                              <div class="card-img">
                                    <a class="lightbox" href="/img/gallery/10.jpg">
                                          <img src="/img/gallery/10.jpg" alt="Park" class="card-img-top">
                                    </a>
                              </div>
                        </div>

                        <div class="col m4">
                              <div class="card-img">
                                    <a class="lightbox" href="/img/gallery/11.jpg">
                                          <img src="/img/gallery/11.jpg" alt="Park" class="card-img-top">
                                    </a>
                              </div>
                        </div>

                        <div class="col m4">
                              <div class="card-img">
                                    <a class="lightbox" href="/img/gallery/01.JPG">
                                          <img src="/img/gallery/01.JPG" alt="Park" class="card-img-top">
                                    </a>
                              </div>
                        </div>

                  </div>

            </div>

      </div>



      <footer class="page-footer transparent">
            <div class="container">
                  <div class=" center-align fa-2x ">
                        <a href="#" class="twitter">
                              <i class="fa fa-twitter fa-fw  "></i>
                        </a>
                        <a href="https://www.facebook.com/DTU.MACS/" class="facebook">
                              <i class="fa fa-facebook-official fa-fw"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UCfwkE4OIUreOaRBLhUrcsBQ" class="google">
                              <i class="fa fa-youtube fa-fw"></i>
                        </a>
                  </div>
            </div>
            <div class="footer-copyright">
                  <div class="container center-align">
                        © 2018 MACS DTU
                  </div>
            </div>
      </footer>

      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
      <script src="js/main.js"></script>
      <script src=" https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
      <script>
            baguetteBox.run('.tz-gallery', {
                  animation: 'fadeIn',
                  noScrollbars: true
            });
      </script>
</body>

</html>