<% include ./partials/header.ejs %>

   <div class="container">
      <nav class="sidenav-trigger navbar-fixed transparent z-depth-0 ">
         <div class="nav-wrapper">
            <a href="/home" class="brand-logo black-text">MACS</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger">
               <i class="material-icons black-text">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
               <li>
                  <a href="/asymptotes" class=" black-text">Asymptotes</a>
               </li>
               <li>
                  <a href="/events" class=" black-text">Events</a>
               </li>
               <li>
                  <a href="/team" class="black-text">Team</a>
               </li>
               <li>
                  <a href="/about" class=" black-text">About Us</a>
               </li>
               <li>
                  <a href="/contact" class=" black-text">Contact Us</a>
               </li>
            </ul>
            <ul class="sidenav light-blue accent-1" id="mobile-demo">
               <li>
                  <a href="/about">About Us</a>
               </li>
               <li>
                  <a href="/asymptotes">Asymptotes</a>
               </li>
               <li>
                  <a href="/gallery">Gallery</a>
               </li>
               <li>
                  <a href="/contact">Contact Us</a>
               </li>
            </ul>
         </div>
      </nav>
   </div>

   <div class=" slider fullscreen my-slider">
      <ul class="slides">
         <li>
            <img src="./img/1.jpeg">
            <!-- random image -->
            <div class="caption center-align">
               <h3>This is our big Tagline!</h3>
               <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
         </li>
         <li>
            <img src="./img/2.jpeg">
            <!-- random image -->
            <div class="caption left-align">
               <h3>Left Aligned Caption</h3>
               <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
         </li>
         <li>
            <img src="./img/3.jpeg">
            <!-- random image -->
            <div class="caption right-align">
               <h3>Right Aligned Caption</h3>
               <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
         </li>
         <li>
            <img src="./img/4.jpg">
            <!-- random image -->
            <div class="caption center-align">
               <h3>This is our big Tagline!</h3>
               <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
         </li>
      </ul>
   </div>

   <div class="fixed-action-btn">
      <a class="btn-floating btn-large red">
         <i class="large material-icons">info_outline</i>
      </a>
      <ul>
         <li>
            <a class="btn-floating red">
               <i class="material-icons">insert_chart</i>
            </a>
         </li>
         <li>
            <a class="btn-floating yellow darken-1">
               <i class="material-icons">format_quote</i>
            </a>
         </li>
         <li>
            <a class="btn-floating green">
               <i class="material-icons">publish</i>
            </a>
         </li>
         <li>
            <a class="btn-floating blue">
               <i class="material-icons">attach_file</i>
            </a>
         </li>
      </ul>
   </div>



   <div id="content">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci exercitationem ab fugiat praesentium accusamus eaque
         maiores beatae sed voluptatum quae! Excepturi, odio nam eum consequatur labore officiis cumque perspiciatis nulla.
      </p>
      <a class="waves-effect waves-light btn-large cyan accent-5 hoverable" id="button" href="/about" >About Us</a>
   </div>


   <% include ./partials/footer.ejs %>