<% include ./partials/header.ejs %>

      <div class="parallax-container">
            <div class="parallax">
                  <img src="./img/6.jpeg">
            </div>
            <h1 class="text-style center-align">The Team</h2>
                  <h5 class="text-style center-align">The Faces behind MACS</h4>
      </div>

      <div class="container">
            <div class="section">

                  <div class="row">

                        <div class="col s6 m4">
                              <div class="card hoverable">
                                    <div class="card-image waves-effect waves-block waves-light">
                                          <img class="activator" src="img/aman.jpeg">
                                    </div>
                                    <div class="card-content">
                                          <span class="card-title center-align"></span>
                                          <p class="center-align"></p>


                                    </div>
                                    <div class="card-reveal">
                                          <span class="card-title grey-text text-darken-4">Apurv Agarwal
                                                <i class="material-icons right">close</i>
                                          </span>
                                          <p>
                                                <a href="">
                                                      <i class="fa fa-facebook fa-2x fa-fw" aria-hidden="true"></i>
                                                </a>
                                                <a href="">
                                                      <i class="fa fa-linkedin fa-2x fa-fw" aria-hidden="true"></i>
                                                </a>
                                          </p>
                                          <p>
                                          </p>
                                    </div>
                              </div>
                        </div>

                        <div class="col s6 m4">
                              <div class="card hoverable">
                                    <div class="card-image waves-effect waves-block waves-light">
                                          <img class="activator" src="img/aman.jpeg">
                                    </div>
                                    <div class="card-content">
                                          <span class="card-title center-align"></span>
                                          <p class="center-align"></p>


                                    </div>
                                    <div class="card-reveal">
                                          <span class="card-title grey-text text-darken-4">Apurv Agarwal
                                                <i class="material-icons right">close</i>
                                          </span>
                                          <p>
                                                <a href="">
                                                      <i class="fa fa-facebook fa-2x fa-fw" aria-hidden="true"></i>
                                                </a>
                                                <a href="">
                                                      <i class="fa fa-linkedin fa-2x fa-fw" aria-hidden="true"></i>
                                                </a>
                                          </p>
                                          <p>
                                          </p>
                                    </div>
                              </div>
                        </div>

                        <div class="col s6 m4">
                              <div class="card hoverable">
                                    <div class="card-image waves-effect waves-block waves-light">
                                          <img class="activator" src="img/aman.jpeg">
                                    </div>
                                    <div class="card-content">
                                          <span class="card-title center-align"></span>
                                          <p class="center-align"></p>


                                    </div>
                                    <div class="card-reveal">
                                          <span class="card-title grey-text text-darken-4">Apurv Agarwal
                                                <i class="material-icons right">close</i>
                                          </span>
                                          <p>
                                                <a href="">
                                                      <i class="fa fa-facebook fa-2x fa-fw" aria-hidden="true"></i>
                                                </a>
                                                <a href="">
                                                      <i class="fa fa-linkedin fa-2x fa-fw" aria-hidden="true"></i>
                                                </a>
                                          </p>
                                          <p>
                                          </p>
                                    </div>
                              </div>
                        </div>

                        <div class="col s6 m4">
                              <div class="card hoverable">
                                    <div class="card-image waves-effect waves-block waves-light">
                                          <img class="activator" src="img/aman.jpeg">
                                    </div>
                                    <div class="card-content">
                                          <span class="card-title center-align"></span>
                                          <p class="center-align"></p>


                                    </div>
                                    <div class="card-reveal">
                                          <span class="card-title grey-text text-darken-4">Apurv Agarwal
                                                <i class="material-icons right">close</i>
                                          </span>
                                          <p>
                                                <a href="">
                                                      <i class="fa fa-facebook fa-2x fa-fw" aria-hidden="true"></i>
                                                </a>
                                                <a href="">
                                                      <i class="fa fa-linkedin fa-2x fa-fw" aria-hidden="true"></i>
                                                </a>
                                          </p>
                                          <p>
                                          </p>
                                    </div>
                              </div>
                        </div>

                        <div class="col s6 m4">
                              <div class="card hoverable">
                                    <div class="card-image waves-effect waves-block waves-light">
                                          <img class="activator" src="img/aman.jpeg">
                                    </div>
                                    <div class="card-content">
                                          <span class="card-title center-align"></span>
                                          <p class="center-align"></p>


                                    </div>
                                    <div class="card-reveal">
                                          <span class="card-title grey-text text-darken-4">Apurv Agarwal
                                                <i class="material-icons right">close</i>
                                          </span>
                                          <p>
                                                <a href="">
                                                      <i class="fa fa-facebook fa-2x fa-fw" aria-hidden="true"></i>
                                                </a>
                                                <a href="">
                                                      <i class="fa fa-linkedin fa-2x fa-fw" aria-hidden="true"></i>
                                                </a>
                                          </p>
                                          <p>
                                          </p>
                                    </div>
                              </div>
                        </div>

                        <div class="col s6 m4">
                              <div class="card hoverable">
                                    <div class="card-image waves-effect waves-block waves-light">
                                          <img class="activator" src="img/aman.jpeg">
                                    </div>
                                    <div class="card-content">
                                          <span class="card-title center-align"></span>
                                          <p class="center-align"></p>


                                    </div>
                                    <div class="card-reveal">
                                          <span class="card-title grey-text text-darken-4">Apurv Agarwal
                                                <i class="material-icons right">close</i>
                                          </span>
                                          <p>
                                                <a href="">
                                                      <i class="fa fa-facebook fa-2x fa-fw" aria-hidden="true"></i>
                                                </a>
                                                <a href="">
                                                      <i class="fa fa-linkedin fa-2x fa-fw" aria-hidden="true"></i>
                                                </a>
                                          </p>
                                          <p>
                                          </p>
                                    </div>
                              </div>
                        </div>

                        <div class="col s6 m4">
                              <div class="card hoverable">
                                    <div class="card-image waves-effect waves-block waves-light">
                                          <img class="activator" src="img/aman.jpeg">
                                    </div>
                                    <div class="card-content">
                                          <span class="card-title center-align">Vibhor Saxena</span>
                                          <p class="center-align">Joint Secretary</p>


                                    </div>
                                    <div class="card-reveal">
                                          <span class="card-title grey-text text-darken-4">Vibhor Saxena
                                                <i class="material-icons right">close</i>
                                          </span>
                                          <p>
                                                <a href="https://m.facebook.com/vibhor.saxena.121">
                                                      <i class="fa fa-facebook fa-2x fa-fw" aria-hidden="true"></i>
                                                </a>
                                                <a href="https://www.linkedin.com/in/vibhor-saxena-a847bb130">
                                                      <i class="fa fa-linkedin fa-2x fa-fw" aria-hidden="true"></i>
                                                </a>
                                          </p>
                                          <p>
                                          </p>
                                    </div>
                              </div>
                        </div>

                        <div class="col s6 m4">
                              <div class="card hoverable">
                                    <div class="card-image waves-effect waves-block waves-light">
                                          <img class="activator" src="img/sourabh.jpeg">
                                    </div>
                                    <div class="card-content">
                                          <span class="card-title center-align">Sourabh Kumar Singh</span>
                                          <p class="center-align">SIG Coordinator</p>


                                    </div>
                                    <div class="card-reveal">
                                          <span class="card-title grey-text text-darken-4">Sourabh Kumar Singh
                                          </span>
                                          <p>
                                                <a href="https://www.facebook.com/sourabh.singh.581730">
                                                      <i class="fa fa-facebook fa-2x fa-fw" aria-hidden="true"></i>
                                                </a>
                                                <a href="https://www.linkedin.com/in/sourabh-kumar-singh">
                                                      <i class="fa fa-linkedin fa-2x fa-fw" aria-hidden="true"></i>
                                                </a>
                                          </p>
                                          <p>
                                                Another tech enthusiast with an insight of gizmos in pursuit of inner peace :D
                                          </p>
                                    </div>
                              </div>
                        </div>

                        <div class="col s6 m4">
                              <div class="card hoverable">
                                    <div class="card-image waves-effect waves-block waves-light">
                                          <img class="activator" src="img/sid.jpg">
                                    </div>
                                    <div class="card-content">
                                          <span class="card-title center-align"></span>
                                          <p class="center-align"></p>


                                    </div>
                                    <div class="card-reveal">
                                          <span class="card-title grey-text text-darken-4">Apurv Agarwal
                                                <i class="material-icons right">close</i>
                                          </span>
                                          <p>
                                                <a href="">
                                                      <i class="fa fa-facebook fa-2x fa-fw" aria-hidden="true"></i>
                                                </a>
                                                <a href="">
                                                      <i class="fa fa-linkedin fa-2x fa-fw" aria-hidden="true"></i>
                                                </a>
                                          </p>
                                          <p>
                                          </p>
                                    </div>
                              </div>
                        </div>

                        <div class="col s6 m4">
                              <div class="card hoverable">
                                    <div class="card-image waves-effect waves-block waves-light">
                                          <img class="activator" src="img/prince.jpg">
                                    </div>
                                    <div class="card-content">
                                          <span class="card-title center-align"></span>
                                          <p class="center-align"></p>


                                    </div>
                                    <div class="card-reveal">
                                          <span class="card-title grey-text text-darken-4">Apurv Agarwal
                                                <i class="material-icons right">close</i>
                                          </span>
                                          <p>
                                                <a href="">
                                                      <i class="fa fa-facebook fa-2x fa-fw" aria-hidden="true"></i>
                                                </a>
                                                <a href="">
                                                      <i class="fa fa-linkedin fa-2x fa-fw" aria-hidden="true"></i>
                                                </a>
                                          </p>
                                          <p>
                                          </p>
                                    </div>
                              </div>
                        </div>

                        <div class="col s6 m4">
                              <div class="card hoverable">
                                    <div class="card-image waves-effect waves-block waves-light">
                                          <img class="activator" src="img/hari.jpg">
                                    </div>
                                    <div class="card-content">
                                          <span class="card-title center-align">V.Harichand</span>
                                          <p class="center-align">PR & Publicity Head</p>


                                    </div>
                                    <div class="card-reveal">
                                          <span class="card-title grey-text text-darken-4">V.Harichand
                                                <i class="material-icons right">close</i>
                                          </span>
                                          <p>
                                                <a href="#">
                                                      <i class="fa fa-facebook fa-2x fa-fw" aria-hidden="true"></i>
                                                </a>
                                                <a href="#">
                                                      <i class="fa fa-linkedin fa-2x fa-fw" aria-hidden="true"></i>
                                                </a>
                                          </p>
                                          <p>
                                                These characteristics describe me:
                                                <br> POLITE - I didn't hate Joffrey from game of thrones
                                                <br> INTELLIGENT - 2+2=4-1=3 quick maths
                                                <br> THIN- I am known at the gym as the “before picture.”
                                                <br> FUNNY- as my whole life is a joke
                                          </p>
                                    </div>
                              </div>
                        </div>

                        <div class="col s6 m4">
                              <div class="card hoverable">
                                    <div class="card-image waves-effect waves-block waves-light">
                                          <img class="activator" src="img/tushar.jpg">
                                    </div>
                                    <div class="card-content">
                                          <span class="card-title center-align">Tushar Singh</span>
                                          <p class="center-align">Technology Head</p>


                                    </div>
                                    <div class="card-reveal">
                                          <span class="card-title grey-text text-darken-4">Tushar Singh
                                                <i class="material-icons right">close</i>
                                          </span>
                                          <p>
                                                <a href="http://www.facebook.com/Tushar.2898">
                                                      <i class="fa fa-facebook fa-2x fa-fw" aria-hidden="true"></i>
                                                </a>
                                                <a href="#">
                                                      <i class="fa fa-linkedin fa-2x fa-fw" aria-hidden="true"></i>
                                                </a>
                                          </p>
                                          <p>
                                                I live by the quote "Opportunities don't happen. You create them."
                                                <br> Hence I don't leave any chance to persistently improve myself as a programmer.
                                          </p>
                                    </div>
                              </div>
                        </div>

                        <div class="col s6 m4">
                              <div class="card hoverable">
                                    <div class="card-image waves-effect waves-block waves-light">
                                          <img class="activator" src="img/Devasri.jpg">
                                    </div>
                                    <div class="card-content">
                                          <span class="card-title center-align">Devasri Lal</span>
                                          <p class="center-align">Creative Head</p>


                                    </div>
                                    <div class="card-reveal">
                                          <span class="card-title grey-text text-darken-4">Devasri Lal
                                                <i class="material-icons right">close</i>
                                          </span>
                                          <p>
                                                <a href="">
                                                      <i class="fa fa-facebook fa-2x fa-fw" aria-hidden="true"></i>
                                                </a>
                                                <a href="">
                                                      <i class="fa fa-linkedin fa-2x fa-fw" aria-hidden="true"></i>
                                                </a>
                                          </p>
                                          <p>
                                                "Life without creativity is like a masterpiece on a napkin."
                                                <br> My canvas of life is painted by various colours of achievements- from being
                                                an international FIDE rated Chess player (1731) to being a State level Basketball
                                                player to being a NTSE scholar to being the rank opener (AIR 1738) of my
                                                branch in college.
                                                <br> However the most beautiful strokes of paint have been my days with MACS.
                                                MACS taught life lessons which no textbook can ever teach and has helped
                                                my creative side evolve to its epitome.
                                                <br> I am grateful to be part of such an esteemed society and hope to take it
                                                to new heights !
                                          </p>
                                    </div>
                              </div>
                        </div>

                        <div class="col s6 m4">
                              <div class="card hoverable">
                                    <div class="card-image waves-effect waves-block waves-light">
                                          <img class="activator" src="img/namita.jpeg">
                                    </div>
                                    <div class="card-content">
                                          <span class="card-title center-align">Namita Shukla</span>
                                          <p class="center-align">Vice President </p>


                                    </div>
                                    <div class="card-reveal">
                                          <span class="card-title grey-text text-darken-4">Namita Shukla
                                                <i class="material-icons right">close</i>
                                          </span>
                                          <p>
                                                <a href="https://www.facebook.com/ns.namitashukla">
                                                      <i class="fa fa-facebook fa-2x fa-fw" aria-hidden="true"></i>
                                                </a>
                                                <a href="#">
                                                      <i class="fa fa-linkedin fa-2x fa-fw" aria-hidden="true"></i>
                                                </a>
                                          </p>
                                          <p>
                                                I am not a product of my circumstances, I am a product of my decisions. Being highly dedicated and ambitious, I refuse to
                                                keep any stone unturned when it comes to work.
                                                <br> Apart from being a coder, I'm also a professional dancer.
                                          </p>
                                    </div>
                              </div>
                        </div>

                        <div class="col s6 m4">
                              <div class="card hoverable">
                                    <div class="card-image waves-effect waves-block waves-light">
                                          <img class="activator" src="img/alind.jpg">
                                    </div>
                                    <div class="card-content">
                                          <span class="card-title center-align">Alind Gupta</span>
                                          <p class="center-align">Corporate Head</p>


                                    </div>
                                    <div class="card-reveal">
                                          <span class="card-title grey-text text-darken-4">Alind Gupta
                                                <i class="material-icons right">close</i>
                                          </span>
                                          <p>
                                                <a href="https://www.facebook.com/alind.gupta.9">
                                                      <i class="fa fa-facebook fa-2x fa-fw" aria-hidden="true"></i>
                                                </a>
                                                <a href="https://www.linkedin.com/in/alind-gupta-880a6791">
                                                      <i class="fa fa-linkedin fa-2x fa-fw" aria-hidden="true"></i>
                                                </a>
                                          </p>
                                          <p>
                                                Hello reader!!
                                                <br> I am Alind Gupta and I'm the Corporate Head of the Mathematics and Computing
                                                Society.
                                                <br> My passions include machine learning and football and it is important for
                                                my satisfaction that I learn something new each day.
                                          </p>
                                    </div>
                              </div>
                        </div>

                        <div class="col s6 m4">
                              <div class="card hoverable">
                                    <div class="card-image waves-effect waves-block waves-light">
                                          <img class="activator" src="img/aman.jpeg">
                                    </div>
                                    <div class="card-content">
                                          <span class="card-title center-align">Aman Kumar Jain</span>
                                          <p class="center-align">Treasurer</p>


                                    </div>
                                    <div class="card-reveal">
                                          <span class="card-title grey-text text-darken-4">Aman Kumar Jain
                                                <i class="material-icons right">close</i>
                                          </span>
                                          <p>
                                                <a href="https://www.facebook.com/jainamandelhi00001">
                                                      <i class="fa fa-facebook fa-2x fa-fw" aria-hidden="true"></i>
                                                </a>
                                                <a href="https://www.linkedin.com/in/aman-kumar-jain-4611bb134">
                                                      <i class="fa fa-linkedin fa-2x fa-fw" aria-hidden="true"></i>
                                                </a>
                                          </p>
                                          <p>I have been a part of MACS family for almost two years now which I am really proud
                                                of.
                                                <br> I am a machine learning and actuarial science enthusiast and have been a
                                                doing a few projects on them as well.
                                          </p>
                                    </div>
                              </div>
                        </div>

                        <div class="col s6 m4">
                              <div class="card hoverable">
                                    <div class="card-image waves-effect waves-block waves-light">
                                          <img class="activator" src="img/apurv.jpeg">
                                    </div>
                                    <div class="card-content">
                                          <span class="card-title center-align">Apurv Agarwal</span>
                                          <p class="center-align">Logistics Head</p>


                                    </div>
                                    <div class="card-reveal">
                                          <span class="card-title grey-text text-darken-4">Apurv Agarwal
                                                <i class="material-icons right">close</i>
                                          </span>
                                          <p>
                                                <a href="https://www.facebook.com/apurvthekiller">
                                                      <i class="fa fa-facebook fa-2x fa-fw" aria-hidden="true"></i>
                                                </a>
                                                <a href="#">
                                                      <i class="fa fa-linkedin fa-2x fa-fw" aria-hidden="true"></i>
                                                </a>
                                          </p>
                                          <p>DTU Sophomore
                                                <br> A big time gaming and tv shows enthusiast.
                                                <br> Ambivert.
                                                <br> Philosophy is the only thing that fascinates because in its depths lies
                                                the answer of every question ever asked.
                                          </p>
                                    </div>
                              </div>
                        </div>

                  </div>
            </div>

            <footer class="page-footer transparent">
                  <div class="container">
                        <div class=" center-align fa-2x ">
                              <a href="#" class="twitter">
                                    <i class="fa fa-twitter fa-fw  "></i>
                              </a>
                              <a href="https://www.facebook.com/DTU.MACS/" class="facebook">
                                    <i class="fa fa-facebook-official fa-fw"></i>
                              </a>
                              <a href="https://www.youtube.com/channel/UCfwkE4OIUreOaRBLhUrcsBQ" class="google">
                                    <i class="fa fa-youtube fa-fw"></i>
                              </a>
                        </div>
                  </div>
                  <div class="footer-copyright">
                        <div class="container center-align">
                              © 2018 MACS DTU
                        </div>
                  </div>
            </footer>

      </div>


      <% include ./partials/footer.ejs %>