@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  background: rgb(30, 30, 40);
}

.contact {
  padding-bottom: 5px;
}

form {
  max-width: 450px;
  /* margin: 50px; */
  padding-top: 30px;
}

iframe {
  padding-top: 30px;
}

#feedback-input {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 2px solid #cc6666;
  transition: all 0.3s;
  padding-left: 13px;
  padding-top: 5px;
  padding-bottom: 3px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

#feedback-input:focus {
  border: 2px solid #cc4949;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  width: 100%;
  background: #cc6666;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
[type="submit"]:hover {
  background: #cc4949;
}

.page-footer {
  margin: 0;
  padding: 0px;
  padding-bottom: 0;
  min-height: 0;
  background-color: transparent;
}

.footer-copyright {
  color: white;
  margin: 0;
  padding: 0;
  min-height: 0;
}

.fa {
  color: white;
}

.logo-header {
  width: 100%;
  height: 100%;
  max-width: 51px;
  max-height: 51px;
  margin-top: 5px;
  margin-right: 5px;
}

.logo-text {
  position: relative;
  bottom: 15px;
  font-family: fantasy;
  letter-spacing: 4px;
}

#mobile-demo {
  background: #000000cf;
  border-right: 2px solid #ff2b3e;
}

#mobile-demo li i,
#mobile-demo li a {
  color: antiquewhite;
}
.sidenav li > a:hover {
  background-color: rgb(216, 44, 44);
}
.logo-sidenav {
  width: 100%;
  height: 100%;
  max-width: 49px;
  max-height: 40px;
  margin-top: 5px;
  margin-right: 5px;
}

.sidenav-text {
  position: relative;
  bottom: 15px;
}


