/* background-asymptotes,about us */

body {
  background-color: #dee4e6;
}

/* make footer icon and text black */
.page-footer {
  color: black;
}

/* to make icons black */
.fa {
  color: black;
}

/* footer styling */
page-footer {
  margin: 0;
  padding: 0px;
  padding-bottom: 0;
  min-height: 0;
  background-color: transparent;
}

.footer-copyright {
  color: black;
  margin: 0;
  padding: 0;
  min-height: 0;
}

.fa {
  color: black;
}

.logo-header {
  width: 100%;
  height: 100%;
  max-width: 50px;
  max-height: 50px;
  margin-top: 5px;
  margin-right: 5px;
}

.logo-text {
  position: relative;
  bottom: 15px;
  font-family: fantasy;
  letter-spacing: 4px;
}
.logo-sidenav {
  width: 100%;
  height: 100%;
  max-width: 49px;
  max-height: 40px;
  margin-top: 5px;
  margin-right: 5px;
}

.sidenav-text {
  position: relative;
  bottom: 15px;
}

#mobile-demo {
  background: #000000cf;
  border-right: 2px solid #ff2b3e;
}

#mobile-demo li i,
#mobile-demo li a {
  color: antiquewhite;
}
.sidenav li > a:hover {
  background-color: rgb(216, 44, 44);
}

.tz-gallery {
  padding: 40px;
}

.tz-gallery .lightbox img {
  width: 100%;
  /* margin-bottom: 30px; */
  transition: 0.2s ease-in-out;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.tz-gallery .lightbox img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.tz-gallery img {
  border-radius: 4px;
}

.baguetteBox-button {
  background-color: transparent !important;
}

@media (max-width: 768px) {
  body {
    padding: 0;
  }

  .container.gallery-container {
    border-radius: 0;
  }
  .tz-gallery {
    padding: 0;
}
}


