 /* for button-home page */
#content {
   z-index: 50;
   position:fixed;
   height: 100vh;
   text-align: center;
   padding: 35vh 10vh;
   margin: 0 auto;
 }

 /* for floating action button-home page */
 .icon-pos{
    position: absolute;
    left: -1.5px;
 }

 /* background-asymptotes,about us */
 
body {
  background-color: #dee4e6;
}

/* make footer icon and text black */
.page-footer {
  color: black;
}

/* to make icons black */
.fa {
  color: black;
}

/* position for text on parallax */
h1{
  padding-top: 120px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}

/* text on parallax */
.parallax-container h5 {
  margin: 0;
}

/* footer styling */
page-footer {
  margin: 0;
  padding: 0px;
  padding-bottom: 0;
  min-height: 0;
  background-color:transparent;
}

.footer-copyright {
  color: black;
  margin: 0;
  padding: 0;
  min-height: 0;
}

.fa {
  color: black;
}