/* for button-home page */
#content {
  z-index: 50;
  position: fixed;
  height: 100vh;
  text-align: center;
  padding: 35vh 10vh;
  margin: 0 auto;
}

/* for floating action button-home page */
.icon-pos {
  position: absolute;
  left: -1.5px;
}

/* background-asymptotes,about us */

body {
  background-color: #dee4e6;
}

/* make footer icon and text black */
.page-footer {
  color: black;
}

/* to make icons black */
.fa {
  color: black;
}

/* position for text on parallax */
h1 {
  padding-top: 120px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

/* text on parallax */
.parallax-container h5 {
  margin: 0;
}

/* footer styling */
.page-footer {
  margin: 0;
  padding: 0px;
  padding-bottom: 0;
  min-height: 0;
  background-color: transparent;
}

.footer-copyright {
  color: black;
  margin: 0;
  padding: 0;
  min-height: 0;
}

.fa {
  color: black;
}

.card-image {
  max-height: 350px;
}

.logo-header {
  width: 100%;
  height: 100%;
  max-width: 50px;
  max-height: 50px;
  margin-top: 5px;
  margin-right: 5px;
}

.logo-text {
  position: relative;
  bottom: 15px;
}

.events {
  padding-left: 9px;
}

.slider .slides li img {
  opacity: 0.7;
}

.carousel-fixed-item {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 500;
}

.macs-logo {
  height: 100%;
  width: 100%;
  object-fit: cover;
  max-width: 25%;
  max-height: 25%;
}
