.spinner {
  position: fixed;
  z-index: 555;
  top: 50vh;
  left: 50vw;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}


/* for button-home page */
#content {
  z-index: 50;
  position: fixed;
  height: 100vh;
  text-align: center;
  padding: 35vh 10vh;
  margin: 0 auto;
}

/* for floating action button-home page */
.icon-pos {
  position: absolute;
  left: -1.5px;
}

/* background-asymptotes,about us */

body {
  background-color: #dee4e6;
}

/* make footer icon and text black */
.page-footer {
  color: black;
}

/* to make icons black */
.fa {
  color: black;
}

/* position for text on parallax */
h1 {
  padding-top: 120px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

/* text on parallax */
.parallax-container h5 {
  margin: 0;
}

/* footer styling */
.page-footer {
  margin: 0;
  padding: 0px;
  padding-bottom: 0;
  min-height: 0;
  background-color: transparent;
}

.footer-copyright {
  color: black;
  margin: 0;
  padding: 0;
  min-height: 0;
}

.fa {
  color: black;
}

.card-image {
  max-height: 350px;
}

.logo-header {
  width: 100%;
  height: 100%;
  max-width: 50px;
  max-height: 50px;
  margin-top: 5px;
  margin-right: 5px;
}

.logo-text {
  position: relative;
  bottom: 15px;
  font-family: fantasy;
  letter-spacing: 4px;
}

.events {
  padding-left: 9px;
}

.slider .slides li img {
  opacity: 0.7;
}

.carousel-fixed-item {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 55%;
  z-index: 500;
}

.macs-logo {
  height: 100%;
  width: 100%;
  object-fit: cover;
  max-width: 25%;
  max-height: 25%;
}

.hide-on-med-and-down li a {
  background: rgb(255, 99, 99);
  margin-left: 2px;
  border-bottom: 2px solid white;
}

span .logo-text {
  color: floralwhite;
  font-family: monospace;
  letter-spacing: 4px;
}

#mobile-demo {
  background: #000000cf;
  border-right: 2px solid #ff2b3e;
}

#mobile-demo li i,
#mobile-demo li a {
  color: antiquewhite;
}

.sidenav li > a:hover {
  background-color: rgb(216, 44, 44);
}

/* i.large.material-icons{
  background: #ff2323;
  color: #ffffff;
  border: 2px solid white;
} */

.slides li .caption {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 20px;
  background: rgba(29, 0, 0,0.93);
  border: 2px solid white;
}

.caption h3 {
  color: rgb(255, 60, 60);
}

.caption h5 {
  color: rgb(184, 180, 180);
}

.macs .row {
  margin-top: 50px;
  padding: 15px;
  border: 2px solid rgb(255, 3, 3);
  background: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@media only screen and (max-width: 500px) {
  .slides li .caption h3 {
    font-size: 30px;
  }
  .slides li .caption h5 {
    font-size: 18px;
    letter-spacing: 1px;
    color: whitesmoke;
  }
  .carousel-fixed-item {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 25%;
    z-index: 500;
  }
  .spinner{
    left: 40vw;
   }
}

#attention {
  position: relative;
  z-index: 2;
}

#attention a {
  position: fixed;
  left: 23px;
  bottom: 23px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 997;
  width: 60px;
  height: 40px;
  text-align: center;
  background: rgb(33, 3, 3);;
  border:0;
  color: whitesmoke;
  border: 0.5px solid whitesmoke;
  border-radius: 5px;
  padding: 6px;
  animation: shadow 1s ease-in-out infinite alternate;
}

.logo-sidenav {
  width: 100%;
  height: 100%;
  max-width: 49px;
  max-height: 40px;
  margin-top: 5px;
  margin-right: 5px;
}

.sidenav-text {
  position: relative;
  bottom: 15px;
}

@keyframes shadow {
  0% {
    box-shadow: 1px 1px 1px whitesmoke;
  }
  100% {
    box-shadow: 1px 1px 50px whitesmoke;
  }
}
@media only screen and (max-width: 400px) {
  .logo-text {
    letter-spacing: 1px;
    font-size: 20px;
    margin-top: 15px;
  }
  a.brand-logo{
    display: flex;
  }
  .card-image{
    height: 150px;
  }
}

