/* footer styling */
.page-footer {
  margin: 0;
  padding: 0px;
  padding-bottom: 0;
  min-height: 0;
  background-color: transparent;
}

.footer-copyright {
  color: black;
  margin: 0;
  padding: 0;
  min-height: 0;
}

.fa {
  color: black;
}

/* background */
body {
  background-color: cornflowerblue;
}

/* text styling */
h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

/* partice canvas */
#particles-js canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* button positioning */
i {
  padding-top: 4px;
  padding-left: 1px;
}

.btn-floating {
  position: absolute;
  right: 5%;
}

.logo-header {
  width: 100%;
  height: 100%;
  max-width: 50px;
  max-height: 50px;
  margin-top: 5px;
  margin-right: 5px;
}

.logo-text {
  position: relative;
  bottom: 15px;
  font-family: fantasy;
  letter-spacing: 4px;
}

#mobile-demo {
  background: #000000cf;
  border-right: 2px solid #ff2b3e;
}

#mobile-demo li i,
#mobile-demo li a {
  color: antiquewhite;
}
.sidenav li > a:hover {
  background-color: rgb(216, 44, 44);
}

.card-image {
  height: 251px;
}

.container {
  width: 85%;
}

.logo-sidenav {
  width: 100%;
  height: 100%;
  max-width: 49px;
  max-height: 40px;
  margin-top: 5px;
  margin-right: 5px;
}

.sidenav-text {
  position: relative;
  bottom: 15px;
}

@media only screen and (max-width: 500px) {
  .modal-content {
    font-size: 20px;
  }
}
