body {
  background-color: #dee4e6;
}

.text-style {
  font-family: Roboto;
}

/* make footer icon and text black */
.page-footer {
  color: black;
}

/* to make icons black */
.fa {
  color: black;
}

/* position for text on parallax */
h1 {
  padding-top: 120px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

/* text on parallax */
.parallax-container h5 {
  margin: 0;
}

/* footer styling */
.page-footer {
  margin: 0;
  padding: 0px;
  padding-bottom: 0;
  min-height: 0;
  background-color: transparent;
}

.footer-copyright {
  color: black;
  margin: 0;
  padding: 0;
  min-height: 0;
}

.fa {
  color: black;
}

.card-image {
  max-height: 350px;
}

.logo-header {
  width: 100%;
  height: 100%;
  max-width: 50px;
  max-height: 50px;
  margin-top: 5px;
  margin-right: 5px;
}



.carousel-fixed-item {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 500;
}

.macs-logo {
  height: 100%;
  width: 100%;
  object-fit: cover;
  max-width: 25%;
  max-height: 25%;
}

.macs .row {
  margin-top: 50px;
  padding: 15px;
  border: 2px solid rgb(255, 3, 3);
  background: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

span .logo-text {
  color: black;
  position: relative;
  bottom: 15px;
  font-family: monospace;
  letter-spacing: 8px;
}

#mobile-demo {
  background: #000000cf;
  border-right: 2px solid #ff2b3e;
}

#mobile-demo li i,
#mobile-demo li a {
  color: antiquewhite;
}
.sidenav li > a:hover {
  background-color: rgb(216, 44, 44);
}

nav ul a {
  color: black;
}

i.header-2.material-icons {
  color: rgb(77, 75, 73);
}

.asymptote-p {
  border: 1px solid #ff2b3e;
  background: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 5px;
}

.container .center-align {
  color: rgb(58, 58, 58);
  font-family: "Times New Roman", Times, serif;
}

.container .center-align h3{
  text-transform: uppercase;
  font-size: 100px;
}

.tech-fest-text {
  font-size: 17px;
}
.macs-text {
  font-size: 17px;
  font-weight: 500;
}

.logo-sidenav {
  width: 100%;
  height: 100%;
  max-width: 49px;
  max-height: 40px;
  margin-top: 5px;
  margin-right: 5px;
}

.sidenav-text {
  position: relative;
  bottom: 15px;
}

@media only screen and (max-width: 500px) {
  .container .center-align h3{
    font-size: 25px;
    font-weight: bolder;
    color: #3c3c3c;;
  }
  .card {
    height: 340px;
  }
  .card-image {
    max-height: 200px;
  }
  .card-reveal p {
    font-size: 13px;
  }
}

.sponsor-imgs {
  /* border-radius: 50%; */
  height: 200px;
  border: 1px solid black;
}

.carousel {
  padding-top: 0;
}

.banner-image {
  width: 100vw;
}

hr {
  border:none;
  width: 100%;
  height: 50px;
  margin-top: 0;
  box-shadow: 0 20px 140px 40px #333;
  margin: -50px auto 10px;
}

.about-us{
  font-family: Roboto;
  color: whitesmoke;
}
.parallax-container{
  border: 4px solid #b1afab;
}
